/* Navbar */
.navbar {
  border-bottom: 2px solid #f1f1f1;
}

.navbar-brand {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.nav-link {
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #dc3545;
}